body {
   display: flex;
   flex-direction: column;
   font-family: Montserrat;
   background-color: rgb(255, 255, 255);
   text-align: center;
   line-height: 2.5rem;
   justify-content: center; 
   align-items: center; 
   height: 100vh;
 }
 
 header {
   display: flex;
 }
 
 .div-main {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
   row-gap: 8px;
   width: 70%;
 }
 
 h1 {
   text-transform: uppercase;
   margin: 0;
 }

 span {
  font-size: 2em;
 }
 
 button {
   background: linear-gradient(to top right, #a70657, #ec9cd2);
   color: #ffffff;
   padding: 15px 30px;
   border-radius: 50px;
   border: none;
   font-size: 1rem ;
   font-weight: 700;
   text-transform: uppercase;
   cursor: pointer;
   transition: background 0.3s ease;
 }
 
 button:hover {
   background: linear-gradient(to left bottom, #a70657, #ec9cd2);
   transform: scale(1.2);
   transition: 0.3s ease;
 }
 
 #btn-clear {
   display: none;
 }
 
 #div-message {
   display: flex;
   flex-direction: column;
   column-gap: 20px;
   align-items: center;
 }
 
 img {
   border-radius: 50%;
   border: solid 2px rgb(43, 41, 41);
   width: 150px;
   display: none;
 }
 
 #text-el {
   text-transform: lowercase;
 }
 
 #text-begins {
   display: none;
 }

 #btn-share a, #btn-share a:visited, #btn-share a:link, #btn-share a:hover {
  color: #ffffff;
  text-decoration: none;
}

#btn-share{
  display:none;
}

   .div-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 15px;
  }

  @media screen and (max-width: 767px) {
    .div-btn {
      flex-direction: column;
    }

    span {
      font-size: 1rem;
      line-height: 1rem;
     }
  }

  .div-btn-flag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 15px;
  }

   

   .img-flag{
    display: block;
    border: none;
    border-radius: 0;
    width: 45px;
    margin-bottom: 20px;
    cursor: pointer;
  
   }
   
   .btn-share-txt{
    font-size: 16px;
   }

   .fa-github{
    color: #a70657;
    font-size: 3.5rem;
    
   }
 